<h1>Success!</h1>
<p>Thank you, changes Effected!</p>

<hr>

<div class=row>
  <div class= "col-md-3">
    <a href="/"><button class="button btn">Return Home</button></a>
  </div>

  <div class= "col-md-3">
	<a href="/trains"><button class="button btn">Trains</button></a>
  </div>

  <div class= "col-md-3">
	<a href="/towns"><button class="button btn">Towns</button></a>
  </div>
</div>