<h1>Add a Town</h1>

  <form action="/towns" method="post">
    <label for="name">Name:</label>
    <input id="name" name="name" type="text">

    <button type="submit">Submit!</button>
  </form>

  <hr>

<a href="/"><button class="button btn">Return Home</button></a>